* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #fcfcfc
}

.header {
  min-height: 8%;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
  position: fixed;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container {
  width: 95%;
  min-height: 100vh;
  margin-top: 85px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border: 1px solid #e8e8e8;
}

.container_jumbotron {
  height: 80vh;
  width: 100%;
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 89%, 0 100%);
  clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 89%, 0 100%);
  background-color: #7289da;
  border-bottom: 1px solid #e8e8e8;
  padding: 10% 10%;
  font-family: 'Roboto Condensed', sans-serif;
}

.container_jumbotron>* {
  margin-bottom: 20px;
  color: #fff;
}

.container_jumbotron-h1 {
  font-size: 300%;
}

.container_jumbotron-p {
  width: 40%
}

.container_jumbotron-signup {
  text-transform: uppercase;
  background: #590059;
  padding: 7px 15px;
  border-radius: 5%;
  text-decoration: none;
}

.container_features {
  width: 100%;
  margin-top: 3px;
  display: flex;
}